/*Variáveis*/
:root {
  --bgSite: #d7d4ff;
  --buttonColor: #6c63ff;

  --white: #ffffff;
  --white300: #f9f9f9;

  --title: #2b2b2b;
  --text: #555555;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  
}
body {
background: #F9F9F9;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  border: 0;
}
button:focus,
input:focus {
  border: 0;
}


/*---header---*/
.header{
  background: var(--bgSite);
  
  
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.bg-info{
  max-width: 400px;
  flex: 1 1 400px;
}
.bg-info h1{
  
  font-family: 'Merriweather';
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  line-height: 47px;
  color: var(--title);
}
.bg-info p {
  font-family: 'Lato';
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  color: var(--text);
}

.bg-info button{
  font-family: 'Lato';
  font-size: 1.25em;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  color: #ffF;
  background: var(--buttonColor);
  padding: 13px 50px;
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
  margin-top: 32px;
  cursor: pointer;
}

.wallpaper {
  margin: 90px 32px;
}

/*---conteudo---*/
.content {
  max-width: 1260px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  
  margin: 0 auto;
  
}
.contend-1 {
  width: 375px;
  height: 423px;
  margin-top: 75px;
  background: #fff;
  display: grid;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  
 
}
.info{
  padding: 24px 30px;
}
.rectangle{
  height: 222px ;
}
.rectangle-red {
  background: #FF6363;
}
.rectangle-babyBlue {
  background: #63ECFF;
}
.rectangle-pink {
  background: #F363FF;
}
.rectangle-green {
 
  background: #63FF73;
}
.rectangle-hellow {
  background: #FFDD63;
}
.rectangle-blue {
  background: #6663FF;
}

@media (min-width: 720px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
  .contend-1 {
    width: 340px;
  }
}
@media (min-width: 1090px) {
  .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .contend-1 {
    width: 340px;
  }
}


/*----formulario----*/
.form {
  background: var(--bgSite);
  margin-top: 75px ;
  display: flex;
  flex-direction: column;
  align-items: center;


}
.form h1  {
  margin: 80px 0 35px 0; 
  font-size: 2.5rem ;
}
.form input {
  flex-wrap: wrap;
  font-family: 'Lato';
  line-height: 22px;
  width: 370px;
  height: 60px;
  margin: 0 20px 20px 20px;
  padding-left: 12px;
  border-radius: 5px;
  outline: none;
}
.form textarea {
  font-family: 'Lato';
  line-height: 22px;
  width: 375px;
  height: 150px;
  margin-bottom: 20px;
  padding: 20px 12px;
  border-radius: 5px;
  border: 0;
  outline: none;
}

.btn-form{
  width: 375px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color:#fff;
  padding: 13px 0;
  border-radius: 5px;
  background: var(--buttonColor);
  margin-bottom: 56px;
  cursor: pointer;
}
.btn-form:hover{
  background: #6663ff93;
  transition: 0.6s;
}

@media (min-width: 720px) {
  .form input{
    width: 470px;
  }
  .form textarea{
    width: 470px;
  }
  .btn-form {
    width: 470px;
  }
  
}





